@media (max-width: 1200px) {
    
    .main-nav a {
        width: 80px;;
        font-size: 0.7em;
    }

    .logo-naslov .naslov{
        margin: 0px 0px 90px 0px;
    }

    .image-logo{
        padding: 0px;
    }

    .gl-naslov{
        font-size: 2em;
    }

    #veliki-izbornik{
        align-items: center;
    }
    .footer-container{
        flex-wrap: wrap; 
    }

    /*----------------------------BLOG POST ----------------------------*/

    #single-post-wrap {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .single-post {
    max-width: 60%;
    height: auto;
    margin: 2%; 
    }
        
    aside h3{
    display: none;
    }

    aside {
        float: none;
        padding-bottom: 2%;
        margin: 0;
        border-left: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 5px;
    }

    .aside-article{
       width: 150px;
       height: 150px;
    }

}

/*----------------------------------------------- MEDIA 750PX -------------------------*/

@media (max-width: 750px) {
    .main-nav{
        flex-direction: column;
    }

    p{
        font-size: 90%;

    }

    .logo-naslov{
        font-size: 70%;
    }

    .image-logo{
        width: 70%;
    }

    /* VELIKI IZBORNIK */
    #veliki-izbornik{
        font-size: 80%;
    }
    
    /* O NAMA NA NASLOVNOJ STRANICI */
    #o-nama-nsl h2, #o-nama-nsl h4, .o-nama-naslovna2{
    font-size: 70%;
    }

    .o-nama-naslovna3{
        display:none;
    }

    .o-nama-naslovna2{
        width: 200px;

    }

    #iz-bloga{
        height: 60vh;
        
    }

    .iz-bloga{
        
        gap: 5px;
    }

    .iz-bloga .card{
        width: 20vh;    /*   podesiti kod responzivnosti */
        height: 250px;
    }

    #o-nama{
        flex-direction: column;
    }

    .tijelo-section {
        flex-direction: column;
    }
    
    .footer-container{
        flex-direction: column;
    }
    .footer-radno-vrijeme, .footer-osnovni-podaci, .footer-kontakt{
        width: auto;
    }
    

    /*---------------------------- BLOG --------------------------------*/
    .blog-post {
        width: 150px;
        height: 150px;;
    }

    .blog-img{
        width: 70%;
        height: 40%;   
    }

    .blog-post-desc{
        display: none;
    }

    .vise {
        font-size: 80%;
    }

    /*-------------------------- BLOG POST ----------------------*/
    .single-post {
    
    max-width: 100%;
    
}

    /*------------------------------ O NAMA ------------------------------ */
    .o-nama-kontakt{
        width: 50%;
        height: 50%;
    }

    /*------------------------- FOOTER --------------------------*/
    .footer-container{
        font-size: 70%;
    }


}

    /*----------------------------------- MEDIA 596 px -----------------*/
@media (max-width: 596px){

    .big-thumbnail img{
        width: 50%;
    }  
    
}