*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --primary-color: #667;
}

h1, h2, h3, h4, h5, h6, p, font1{
    font-size: 1em;
}

p{
    text-align: left;
}

@font-face {
    font-family: font1;
    src: url("font/CrimsonPro-Italic-VariableFont_wght.ttf");
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: var(--primary-color);
} 

#page-layout{
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    position: relative;
    background-color: white;
    left: 0px;
}

#page-layout.active {
    left: -200px;
}

/*----------------------- hamburger meni ############################################---------------------*/
.hamburger-menu {
    display: none;
    position: absolute;
    right: 15px;
    top: 15px;
}

.mobile-nav {
    display: none;
    position: fixed;
    background-color: rgba(52, 122, 181, 1);
    width: 200px;
    height: 100vh;
    top: 0;
    right: -100%;
    padding: 3rem 2rem;
    transition: right 0.3s ease-in-out;
    z-index: 10;
}

.mobile-nav.active {
    right: 0;
}

.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 10;
}

.mobile-nav ul{
    margin: 0;
    padding: 25px;
}

.mobile-nav ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.mobile-nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.2em;
    
}

/* ########################################################## /*
/* HEADER */
#header-naslovna{
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 100%), 
    url("../slike/header-background.jpg") no-repeat fixed center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    margin-top: 5px;
}

img {
  opacity: 0;
  transform: scale(0.8);
  animation: zoomFade 1.2s ease-out /* stil ubrzanja i usporavanja */  forwards /* zadržava završno stanje */;
}

@keyframes zoomFade /* definicija animacije */{
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* glavna navigacija */ 

.main-nav{
    position: sticky;
    top: 0px;
    display: flex;
    align-items: center;
    z-index: 10; 
}

.nav1, .logo{
    height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    gap: 4%;
    /* border: 1px solid yellow; */
}

.main-nav a{
    color: white;
    width: 102px;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;;
    padding: 10px;
    text-decoration: none;
}

.nav1 a:link{
    color: white;
    background-color:rgba(219, 175, 181, 0.3);
    border: 1px solid white;
    border-radius: 10%;
}

.nav1 a:visited{
    color: white;
    background-color:rgba(219, 175, 181, 0.3);
    border: 1px solid white;
    border-radius: 10%;
}

.nav1 a:hover{
    color: rgb(20, 20, 2);
    background-color:rgb(203, 215, 229);
    transition: all 0.4s linear;
    border: 1px solid black;
    border-radius: 10%;
}

.nav1 a:focus{
    color: rgb(20, 20, 2);
    border: rgba(219, 175, 181, 0.3);
}

.nav1 a[rel="istaknuto"]{
    color: black;
    background-color: white;
          
}

.nav1 a:hover[rel="istaknuto"] {
    
    background-color:rgb(203, 215, 229);
    transition: all 0.4s linear;
    
}


/*----logo animacija ---*/
/* početno stanje prije pojave */
.logo {
  opacity: 0;
  transform: rotate(-12deg) scale(0.9);
  transition: all 1s ease;
}

/* stanje nakon pojave na ekranu */
.logo.show {
  opacity: 1;
  transform: rotate(0deg) scale(1);
}

/* LOGO I NASLOV */

.logo-naslov{
    position: relative;
    top: 50px;
    text-align:center;
    margin: 0px 0px 190px 0px;
}

.image-logo{
    padding: 20px; 
}

.gl-naslov{
    color: white;
    font-size: 3em;
    padding: 3% 0;
    font-weight: 900; /* ne radi */
    text-transform: uppercase;
}


/* class naslov css animacija - zumiranje naslova */
.naslov {
  opacity: 9;
  transform: scale(0.6) translateY(20px);
  animation: zoomInDepth 1.2s ease-out forwards;
}

@keyframes zoomInDepth {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(20px);
    filter: blur(4px);
  }
  60% {
    opacity: 1;
    transform: scale(1.05) translateY(0);
    filter: blur(0px);
  }
  100% {
    opacity: 1;
    transform: scale(1);
    filter: blur(0px);
  }
}

/* animacija povezaba s java scriptom */
/* početno stanje logo i naslov */
.logo-naslov,
.image-logo {
  opacity: 0;
  transition: all 2s ease;
}

/* različite početne animacije /*
/* tekst naslova klizi odozdo nagore */
.logo-naslov{
  transform: translateY(40px);
}

/* logo se približava laganim zoom-in efektom */
.image-logo {
  transform: scale(0.8);
}

/* završno stanje kada se pojave */
.logo-naslov.show,
.image-logo.show {
  opacity: 1;
  transform: none; /* vrati sve u normalan položaj */
}

/* VELIKI IZBORNIK */
#veliki-izbornik{
    font-family: font1;
    width: 100%;
    height: auto;
    margin: 3% 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
}

.big{
    width: 300px;
    height: auto;
}

.box-data{
    border: 1px dotted var(--primary-color);
    margin-top: -100px;
    margin-bottom: 50px;
    padding: 3%;
}

.big-sadrzaj{
    padding-bottom: 30px;  
}

.big-title h3{
    text-decoration: none;
    text-transform: uppercase;
}

.big-title{
    padding-top: 100px;
    padding-bottom: 20px;
}

/* ----------------------------------- za veliki izbornik i blog post -----------------*/
.big a, .blog-post a{
    text-decoration: none;
    color: var(--primary-color);
}

.big a:link, .blog-post a:link{
    color: var(--primary-color);
}

.big a:visited, .blog-post a:visited{
    color: var(--primary-color);
}
.big-title h3:hover, .vise a:hover{
    color: #347ab5;
}

.big a:focus, .blog-post a:focus{
    color: #347ab5; 
}

/* O NAMA NA NASLOVNOJ STRANICI */
 #o-nama-nsl{
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(0,0,0, 0.01) 0%),
    url("../slike/slider_bg1-4.jpg") no-repeat fixed center center/cover;  
}

.o-nama-naslovna1{
    flex-basis: 100%; 
    padding: 0 0 2% 0;
}

.o-nama-naslovna2{
    width: 400px;;
    border: 1px solid white;
    margin: 5px;
    background: rgba(201, 194, 194, 0.3);
    border-radius: 5px;
}

.o-nama-naslovna3{
    width: 400px;;
    border: 1px solid white;
    margin: 5px;    
}

#o-nama-nsl p{
    color: rgb(203, 215, 229);
    font-size: 1.2em;
    line-height: 1.5;
    text-align: center;  
}

#o-nama-nsl h2{
    color: rgb(203, 215, 229);
    font-size: 2em;
    text-align: center; 
    text-transform: uppercase;
}

#o-nama-nsl h3{
    color: rgb(247, 248, 250);
    font-size: 1,5em;
    text-align: center;
    padding: 1%;
    background: rgba(52, 122, 181, 1);
    border-radius: 5px;
}

#o-nama-nsl h4{
    color: rgb(203, 215, 229);
    font-size: 1.5em;
    text-align: center;
    padding: 1%;
} 

#o-nama-nsl a, .footer-kontakt a{
    color: white;
}

.kontakt a{
    color:#e47d7d
}

 #o-nama-nsl a:hover, .footer-kontakt a:hover, .kontakt a:hover{
    background-color: rgba(52, 122, 181, 1);
 }

/* povezano sa java scriptom animacijski efekti */
/* Kako radi?
Observer “gleda” kada se elementi pojave barem 20% na ekranu (threshold 0.2).
U tom trenutku doda im klasu .show.
CSS animira prelazak iz opacity:0 → 1 i translateY(40px) → 0.*/  

.o-nama-naslovna1,
.o-nama-naslovna2,
.o-nama-naslovna3 {
  opacity: 0;
  transition: all 0.9s ease;
}

/* lijevi slide-in */
.o-nama-naslovna1 {
  transform: translateX(-60px);
}

/* lagani scale-in */
.o-nama-naslovna2 {
  transform: scale(1.5);
}

/* lagani tilt/rotate */
.o-nama-naslovna3 {
  transform: rotate(-4deg) translateY(40px);
}

.o-nama-naslovna1.show,
.o-nama-naslovna2.show,
.o-nama-naslovna3.show {
  opacity: 1;
  transform: none;   /* vraća sve u normalu */
}


/* IZ BLOGA */

#iz-bloga{
    background:
    url("../slike/iz-bloga-background.png") no-repeat fixed center center/cover;
    display: flex;
    justify-content: center;
    width: auto;
    height: 60vh;
}

.h-iz-bloga{
    color: white;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    background: rgba(52, 122, 181, 1);
}

.iz-bloga{
    display: flex;
    align-items: center; 
    gap: 25px;  
}

.iz-bloga .card{
    position: relative;
    width: 30vh;    /*   podesiti kod responzivnosti */
    height: 300px;
    background: #fff;
    border-radius: 40px;
    box-shadow: 0 20px 25px rgba(0,0,0,0.25);
    transition: 0.5s;
    overflow: hidden;
}

.iz-bloga .card:hover{
    height: 420px;
}

.iz-bloga .card .imgBx{
    position: relative;
    width: 100%;
    height: 260px;
    background: var(--img);
    background-size: 110%;
    background-position: center;
    transition: 0.5s;
    filter: blur(2px);
}

.iz-bloga .card:hover .imgBx{
    background-size: 100%;
    background-repeat: no-repeat;
    filter: blur(0px);
}

.iz-bloga .card .imgBx::before{
    content: '';
    position: absolute;
    bottom: -40px;
    width: 100%;
    height: 80px;
    border-radius: 40px;
    background: #fff;
}

.iz-bloga .card .imgBx::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 40px;
    width: 80px;
    height: 80px;
    background: transparent;
    border-radius: 50%;
    box-shadow: 75px 70px 0 40px #fff;
}

.iz-bloga .card .content{
    position: relative;
    top: -40px;
    z-index: 10;
    padding: 0 30px;
    transition: 0.5s;
}
.iz-bloga .card .content h3{
    position: relative;
    font-size: 1.25em;
    color: #b56f34;
}

.iz-bloga .card .content h3 span{
    position: absolute;
    bottom: -15px;
    font-weight: 400;
    font-size: 0.65em;
    opacity: 0.75;
}

.iz-bloga .card .content p{
    position: relative;
    padding-top: 8%;
    opacity: 0;
    transition: 1s;
    color: #333;
}
.iz-bloga .card:hover .content p{
    opacity: 1;
}

.iz-bloga a{
    text-decoration: none;
}

/*-------------------- O NAMA & KONTAKT-----------------------------*/

.header-naslovna{
    background: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.1) 100%), 
    url("../slike/o-nama2.jpg") no-repeat fixed top/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    
}

.naslov{
    color: white;
    height: 100px;
    width: auto;
    position: relative;
    top: 70px;
    text-align:center;
    margin: 0px 0px 190px 0px;
}

.tijelo-section{
    text-align: center;
    display: flex;
    width: auto;
    height: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 70px 0 70px 0;
}

.article-o-nama{
    margin: 20px;
    flex-basis: 500px;
    line-height: 1.5;
}

.article-o-nama h2{
    text-align: center;
}

/*---------------------------------------------  BLOG -----------------------------------*/
.blog { 
    font-family: font1;
    padding: 2% 0;
    display: flex;
    flex-wrap: row;
    width: 100%;
    height: auto;
    text-align: center;
    align-items:center;
    justify-content: center;
}

.blog-posts {
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}

.blog-post {
    width: 350px;
    margin-top: 2%;
    border-radius: 2.5%;
    padding: 2%;
    box-shadow: 0 2px 6px 2px rgba(25, 25, 206, 0.15);
      
}

.blog-post:hover{
     transform: translateY(-5px);
}

.blog-post .naslov-posta {
  position: relative;
  bottom: 50%; /* Skriveno */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 30px 20px 0px;
  font-size: 1.2em;
  transition: bottom 0.9s ease, opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
}

.blog-post:hover .naslov-posta {
  bottom: 20px; /* s dna */
  opacity: 1;
}

.blog-img{
    border-radius: 2%;
}

.blog-img:hover {
    filter: blur(1px);
    
}

.blog-post-date {
    padding: 2px;
}

.blog-post h3 {
    color: #b56f34;
    padding: 5px;
    
}

.blog-post-desc {
    text-align: justify; 
}

.vise {
    color: #b56f34;
    text-transform: uppercase;
}

/*----------------------------BLOG POST ----------------------------*/

#single-post-wrap {
    display: flex;
    justify-content: center;
}

.single-post {
    max-width: 40%;
    height: auto;
    margin: 2%; 
}

.article-post {
    text-align: center;
    padding: 2%;
    margin: 2%;
    border-radius: 2%;
}

.article-post p {
    line-height:1.5;
    text-align: justify;
    padding-bottom: 1%;
}

.article-post h3 {
    text-align: left;
    padding: 1%;
}

.article-post img {
    border-radius: 2%;
    margin: 0.5%  
}

#slike{
    display: flex;
    flex-wrap: wrap;  
    justify-content: center;
}

.btn-blog {
    margin-top: 4%;
    padding: 1%;
    cursor: pointer;
}

.btn-recepti {
    position: static;
    margin: 1.2% 48%;
    padding: 0.3%;
    width: 100px;
    cursor: pointer;
}

.single-post h2 {
    color: #b56f34;
}

time {
    text-decoration-line: underline;
    text-shadow: 0 2px 6px 2px grey;;
}

aside {
    text-align: center;
    font-family: font1;
    float: right;
    margin: 5% 0;
    border-left: solid 1px grey;
    padding-left: 2%;
}

.aside-article{
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 200px;
    height: auto;
    margin: 7% 0; 
    box-shadow: 0 2px 6px 2px rgba(94, 94, 134, 0.2); 
    border-radius: 2%;
}

.aside-article:hover{
    transform: translateY(-5px);   /*---------------  pomiče gore za 5px ---------------------*/ 
}

.naslov-zadnji-postovi {
    position: absolute;
    width: 95%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6); /* određuje način i kut pojavljivanja slova */
    opacity: 0;
    filter: blur(8px);
    background-color: rgba(181, 111, 52, 0.45);
    padding: 2px 14px;   
    color: #f7f4f4;
    font-size: 1.1em;
    text-align: center;
    border-radius: 6px;
    transition:
    transform 0.6s cubic-bezier(0.22, 0.61, 0.36, 1), /* započinje polako, ubrza u sredini i uspori na kraju */
    opacity 0.45s ease,
    filter 0.6s ease;
    pointer-events: none;
}

.aside-article img{
    padding-top: 1px;
    border-radius: 8%;
    transition: transform 0.7s ease;
}

.aside-article:hover img {
  transform: scale(1.07); /* ------ zumira sliku -------------*/
}

aside h3 {
    text-transform: uppercase;
    margin-bottom: 10%;
    background-color:rgba(128, 19, 19, 0.45);
    color: white;
}

.aside-article:hover .naslov-zadnji-postovi {
  transform: translate(-50%, -50%) scale(1); /*---- povećava naslov i pozadinu ---------*/
  opacity: 1;
  filter: blur(0); /* ----- odmućuje pozadinu ----------*/
}

aside a{
    text-decoration-line: none;
}

/*  FOOTER */

footer{
    color: white;
    text-align: center;
    padding: 20px 0px;
    background: url("../slike/footer_bg.jpg") no-repeat fixed center center/cover;
}

.footer-container{
    margin: 0px auto;  
    padding: 2%;
    display: flex;
    align-content: center;
}

.footer-radno-vrijeme{
    width: 400px;
    margin: 1% auto;
    text-align: center;
    border-bottom: 1px solid white;
}

.footer-osnovni-podaci{
    width: 400px;
    margin: 1% auto;
    text-align: center;
    border-bottom: 1px solid white;
}

.footer-kontakt{
    width: 400px;
    margin: 1% auto;
    text-align: center;
    border-bottom: 1px solid white; 
}

.footer-copyright{
    padding: 15px;
    background: rgba(44, 39, 39, 0.5);
}

footer p{
    color: rgb(175, 202, 219);
    text-align: left;
    padding: 3%;
    font-family:Verdana, Geneva, Tahoma, sans-serif; 
}

footer h3{
    color: white;
    font-family: 'Roboto Condensed', Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    text-transform: uppercase;
    padding: 3px 100px;
    
}

.footer-radno-vrijeme span, .footer4 span, .o-nama-naslovna2 span {
    color: white; 
}

.facebook-logo{
   border-radius: 5px;
}

/*-------------------------------------------------- recepti ----------------------------------------*/

.filters{
    max-width: 100%;
    height: auto;
    margin: 2% 20% 1% ;
    display: flex;
    gap: 12px;
    text-align: center;
    justify-content: left;
    flex-wrap: wrap;

}

.filters button{
    padding: 10px 16px;
    border-radius: 6px;
    border: none;
    background-color: rgba(135, 181, 220, 0.35);
    cursor: pointer;
}

.filters button:hover, .filters .active{
    background-color: rgba(52, 122, 181, 1);
    color: white;
}


/*------ kartice za recepte -----*/


.card-grid{
    max-width: 100%;
    height: auto;
    margin: 0 20% 3% ;
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.card-recepti{
    width: 100%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0 ,0.4);
    transition: transform 0.3 ease; 
}

.card-recepti:hover{
    transform: translateY(-5px);   /*-------  translate pomicanje 5px prema gore-------------*/ 
}

.card-img{
    width: 100%;
    height: 200px;
    border-radius: 2%;
    filter: blur(1.5px);
    transition: filter 0.5s;
}

.card-img:hover {
    filter: blur(0px)
}

.card-recepti h3{
    width: 100%;
}

.card-recepti a:link{
    text-decoration: none;
}

.card-recepti img {
  display: block;
  width: 100%;
  height: auto;
}

.card-recepti .naslov-recepta {
  position: absolute;
  bottom: -100%; /* Skriveno */
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 10px 20px;
  background-color: rgba(181, 243, 238, 0.7);
  color: rgb(12, 2, 2);
  font-size: 1.2em;
  transition: bottom 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  pointer-events: none; /* Element potpuno ignorira sve interakcije, klik prolazi kroz njega na element ispod */
}

.card-recepti:hover .naslov-recepta {
  bottom: 20px; /* s dna */
  opacity: 1;
}

/*---------------------------------------------- recepti post----------------------------*/

.recepti1{
    max-width: 40%;
    height: auto;
    margin: 2% 30%;
}

.recepti2{
    max-width: 40%;
    height: auto;
    margin: 2% 30%;
    background: rgba(181, 243, 238, 0.3);
    box-shadow: 0 4px 12px rgba(0, 0, 0 ,0.2);
    border-radius: 2%;
    display: grid;
    text-align: left;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
}

.priprema, .sastojci{
    padding: 30px;
}

.article-post {
    text-align: center;
    padding: 2%;
    margin: 2%;
    border-radius: 2%;
}

.recepti1 p, .recepti2 li {
    line-height:1.5;
    text-align: justify;
    padding-bottom: 1%;
}

.article-post h3 {
    text-align: left;
    padding: 1%;
}

.recepti1 img {
    width: 100%;
    height:auto;
    border-radius: 2%;
    margin-bottom: 2%  
}

/* -------------------------------------------------- cjenik --------------------------------------------*/
.izbornik{
    padding: 2% 0;
    width: 30%;
    height: auto;
    background: rgb(161, 13, 13);

}

#pretraga{
    
    background: rgb(232, 237, 238);
    margin-top: 2%;
    margin-left: 6%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    
}

#proizvodi{
    width: 30%;
    height: auto;
    margin: 2% 5%;
    
}

#cjenik{
    width: 90%;
    height: auto;
    margin: 2% 5%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
}



#slatkovodna, #morska, #ekstra {
    margin: 2%;
    box-shadow: 0 4px 12px rgba(0, 0, 0 ,0.2);
   
}

.slatkovodna, .morska, .ekstra {
border: 1px solid rgba(181, 243, 238);
border-radius: 3%;
margin: 2%;
padding: 2%;
 
}






















